@import './variables.scss';

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  margin: 20px;
  height: 300px;
  font-size: 32px;
  resize: none;
  
  &:focus {
    outline: none;
  }
}
